html,
body {
  display: grid;
  grid-gap: 20px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  margin: 0;
}

#root {
  display: flex;
  align-items: center;
  color: #fff;
  background-color: lightcoral;
}

.app {
  padding: 10px;
  background-color: lightskyblue;
}
